/* Home */

body {
        background: #F8F8F8;
        font-family: Tahoma, Geneva, sans-serif;
        margin: 0 auto;
}
/*
.body {
        background: #ddd;
        width:100%;
}
*/

h1 {
        font-size: 36px;
}

h1, h2, h3, h4, p {
        color: #888888 ;
}

span{
        color:#00CCCC;
}

/* photo */
.image img {
        border-radius: 50%;
        box-shadow: 1px 1px 10px #ccc;
        border: 1px solid #fff;
        width: 60%;
        margin: 0 auto;
}

.image {
        text-align: center;
        width:500px;
        margin-left: auto;
        margin-right: auto; 
}

header {
        margin: 0 auto;
        width:60%;
}

/* footer */

footer {
        background:#00CCCC;
        margin: 0;
        width: auto;
        padding: 0;
}
.icon {
        display: inline-block;
        width: 200px;
        height: 100px;
        margin: 1em;

}

.icon img {
         border-radius: 50%;
}
/* Links */

a, a:active, a:visited {
        color: #00CCCC;
        text-decoration: none;
}

a:focus, a:hover {
        color: #66CCFF;
        text-decoration: none;
}


/* Nav */
.nav {
        margin-bottom: 40px;
        margin-top: 20px;
}

.nav a {
        background: #00CCCC;
        padding: 10px;
        color: #fff;
        display: inline-block;
        border-radius: 50%;
        margin-right: 10px; 
}

.nav a:hover {
        background: #66CCFF;
}


/* Blog Post on Homepage */

.blog {
        margin-bottom: 40px;
        padding: 10px;
        width: 60%;
        margin: 0 auto;
}

.post {
        background: #fff;
        padding: 10px 20px;
        margin-bottom: 10px;

}

/* About */

.about_me {
        width: 60%;
        margin: 0 auto;
}

.gif img {
        border-radius: 10%;
        box-shadow: 1px 1px 10px #ccc;
        border: 1px solid #fff;
        width: 60%;
        margin: 0 auto;
}

.gif {
        text-align: center;
        width: 500px;
        margin-left: auto;
        margin-right: auto; 

}


/* Contact Page */

.contact {
        margin-bottom: 40px;
        padding: 10px;
        width: 60%;
        margin: 0 auto;
}

/* Blog */

.signature {
    font-family:"Brush Script MT";
}
