<div class="content">

      <h1><a href="/blog.html">Blog</a> + <a href="/portfolio.html">Portfolio</a> + <a href="/about.html">About</a></h1>

</div> <!--end content -->

<div class="footer">

      <div class="box">

        <h3/><a href="mailto:hennigank@gmail.com">Hello?</a></h3>

      </div>

      <div class="box center">

      </div>

      <div class="box">

        <a href="https://twitter.com/hennigank" target="_blank"><img src="/assets/twitter.jpg" alt = "kate shannon twitter"></a>

        <a href="https://github.com/kateshannon" target="_blank"><img src="/assets/git.jpg" alt = "kate shannon github"></a>

        <a href="https://facebook.com" target="_blank"><img src="/assets/facebook.jpg" alt = "kate shannon facebook">

      </div>

    </div> <!--end footer -->
